---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import servicesData from "../content/services.json";
import Button from "../components/Button.astro";
import { t, changeLanguage } from "i18next";
import { getLanguageUrl } from "../helpers/getLanguageUrl";
import { Image } from "@astrojs/image/components";

changeLanguage("en");
---

<Layout
  title={t("home.seo.title")}
  description={t("home.seo.description")}
  keywords={["web", "development", "seo", "performance"]}
>
  <script
    defer
    src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
  ></script>
  <main>
    <Hero />

    <div class="bg-violet">
      <div class="container m-auto py-8 md:py-12">
        <div class="text-center">
          <p class="text-lg font-semibold text-orange">
            {t("home.whoiam.subtitle")}
          </p>
          <h2
            class="mt-1 text-4xl font-bold tracking-tight text-gray-200 sm:text-5xl lg:text-6xl"
          >
            {t("home.whoiam.title")}
          </h2>
        </div>
        <div
          class="grid grid-cols-[1fr] items-center lg:grid-cols-[1fr,1fr] gap-8 py-4 px-4 sm:py-8 sm:px-6 lg:px-8"
        >
          <div class="min-h-[20rem] md:min-w-[40rem] md:min-h-[40rem]">
            <lottie-player
              src="/animations/sq6TpjIV1n.json"
              background="transparent"
              speed="1"
              class="w-[20rem] md:w-full aspect-square m-auto"
              loop
              autoplay></lottie-player>
          </div>
          <div class="text-center">
            <p
              class="mx-auto mt-5 max-w-4xl text-xl text-gray-200 text-justify"
              set:html={t("home.whoiam.content")}
            />
          </div>
        </div>
      </div>
    </div>

    <div class="container m-auto px-4 py-12 text-center">
      <p class="text-lg font-semibold text-violet">
        {t("home.services.subtitle")}
      </p>
      <h2
        class="mt-1 text-4xl font-bold tracking-tight text-slate-900 sm:text-5xl lg:text-6xl"
      >
        {t("home.services.title")}
      </h2>

      <div
        class="grid grid-cols-1 md:grid-cols-[repeat(auto-fill,_minmax(500px,_1fr))] gap-8"
      >
        {
          servicesData.map((service) => (
            <div class="flex flex-col justify-center text-center  p-4 rounded-md relative">
              <Image
                class="w-24 md:w-48 m-auto"
                src={`/illustrations/${service.icon}.png`}
                width="192"
                height="131"
                format={"webp"}
                alt={t(service.title)}
              />
              <p class="font-subtitle font-bold text-2xl my-2">
                {t(service.title)}
              </p>
              <p class="max-w-xs m-auto">{t(service.description)}</p>
              <Button
                link={getLanguageUrl(service.url)}
                style="my-4 "
                text={t("home.services.action")}
              />
            </div>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
