---
import getMenuData from "../content/menu";
import Nav from "./Nav";
import Dropdown from "./Dropdown";
import { getLanguageUrl } from "../helpers/getLanguageUrl";
const menuData = getMenuData();
import { t } from "i18next";
import { Image } from "@astrojs/image/components";
---

<header class="p-4 fixed top-0 left-0 right-0 z-50 bg-white">
  <div class="container m-auto flex justify-between items-center">
    <a href={getLanguageUrl("/")} class="flex items-center">
      <Image
        src="/logo.png"
        alt="logo"
        class="w-12 mr-2"
        width={48}
        height={48}
        format={"webp"}
      />
      <p>imrodriguez</p>
    </a>

    <div class="flex justify-center items-center gap-2">
      <nav class="hidden md:flex gap-4 justify-between items-center mr-4">
        <ul class="flex gap-4 justify-between items-center">
          {
            menuData.map((menuItem) => (
              <li class="cursor-pointer text-lg">
                {menuItem.childrens ? (
                  <Dropdown
                    client:load
                    value={menuItem.title}
                    items={menuItem.childrens}
                  />
                ) : (
                  <a
                    class="text-base font-medium text-gray-900 hover:text-gray-400 focus:outline-none"
                    href={menuItem.url}
                  >
                    {menuItem.title}
                  </a>
                )}
              </li>
            ))
          }
        </ul>
      </nav>

      <!--<a
        href="#contact"
        class={` bg-violet hover:bg-violet-light py-2 px-4 rounded-md text-white font-subtitle font-bold flex justify-center items-center gap-2`}
      >
        <img
          width={24}
          height={24}
          src={`/icons/contact.svg`}
          class="w-6"
          alt="button icon"
        />
        {t("nav.contact")}
      </a>-->
      <Nav client:load data={menuData} />
    </div>
  </div>
</header>
