---
import Header from "../components/Header.astro";
import "@fontsource/alexandria";
import "@fontsource/inter/700.css";
import Footer from "../components/Footer.astro";
import { Seo } from "astro-seo-meta";
import { Schema } from "astro-seo-schema";
import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import "../styles/global.css";
import { Contact } from "../components/Contact";
import getContactContent from "../content/contact";

export interface Props {
  title: string;
  description: string;
  keywords: string[];
  disableContact?: boolean;
  noIndex?: boolean;
}

const { title, description, keywords, disableContact, noIndex } = Astro.props;
const contactContent = getContactContent();
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    {noIndex && <meta name="robots" content="noindex" />}
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <HeadHrefLangs />

    <Seo
      title={title}
      description={description}
      keywords={keywords}
      icon="/favicon.png"
      themeColor="#000000"
      colorScheme="light"
      facebook={{
        image: "/facebook.png",
        url: "https://imrodriguez.com",
        type: "website",
      }}
      twitter={{
        image: "/twitter.png",
        site: "https://imrodriguez.com",
        card: "summary",
      }}
    />

    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "Person",
        name: "Imanol Rodriguez de Maya",
        alternateName: "imrodriguez",
        knowsAbout: ["Development", "Web"],
      }}
    />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2F32KX4VR6"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-2F32KX4VR6");
    </script>
  </head>
  <body>
    <Header />
    <slot />
    {!disableContact && <Contact client:load content={contactContent} />}
    <Footer />
  </body>
</html>
